!!!
html
  head
    link(href=css.common, type="text/css", rel="stylesheet")
      
    //if lte IE 8
      link(href=css.ie, type="text/css", rel="stylesheet")

    title= data.title
  body

    block content

    script(src=jquery)
    script(src=plugins)
    script(src=js)
    script(src="http://192.168.1.200:35729/livereload.js")
    script(src='http://192.168.1.200:3000/socket.io/socket.io.js')
    script(src='http://192.168.1.200:3001/browser-sync-client.min.js')